html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  background: url("../public/loading.jpg");
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

path {
  opacity: 0.4;
  stroke: rgba(255, 255, 255, 0.3);
  stroke-width: 1px;
  pointer-events: none;
}
h1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
hr {
  width: 100%;
}